################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSO.sln
/.vs/RSO/v14/.suo
/.vs/config/applicationhost.config
/public/rsmem/recordings/2018-2019/2018-10-20_excerpts_of_americana_sat.zip
/public/rsmem/recordings/2018-2019/2018-10-21_excerpts_of_americana_sun.zip
