################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSO.sln
/.vs/RSO/v14/.suo
/.vs/config/applicationhost.config
