
.RS {
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;
}
a:link { 	
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff; }
.foot {
font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff; 
	}
.RSsmall { 
	color: #ffffff; 
	font: 11px/normal "Trebuchet MS", Arial, Verdana; 
	text-transform: none 
	}
.RSlarge {
font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;
}
.RSElarge {
font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;
}