

.text1 {
	FONT-SIZE: 20px; FONT-FAMILY: Arial, Sans-Serif; COLOR: #006698
}
.text2 {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Sans-Serif; COLOR: #006698
}
.h1 {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Sans-Serif; COLOR: #006698
}
.h2 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Sans-Serif; COLOR: #006698
}
.h3{
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: Arial, Sans-Serif; COLOR: #006698
}
.h4 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Sans-Serif; COLOR: #FFFFFF
}
.h5 {
	FONT-SIZE: 12pt; FONT-WEIGHT: bold; FONT-FAMILY: Arial, Sans-Serif; COLOR: #FFFFFF
}
.h6 {
	FONT-SIZE: 7pt; FONT-FAMILY: Arial, Sans-Serif; COLOR: #006698
}
A:active {
	CURSOR: hand; COLOR: #666666
}
A {
	CURSOR: hand; COLOR: #666666
}
A:hover {
	CURSOR: hand; COLOR: #008080; font-variant:small-caps; font-family:Arial
}
.a1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.a2 {
	FONT-WEIGHT: bold; COLOR: black
}
.a3 {
	border-style:dotted; border-width:1; FONT-SIZE: 9px; COLOR: #006698; 
}
table        { font-family: Arial; font-size: 10pt; COLOR: #006698 
}
a:link       { font-family: Arial; font-size: 10pt; color: #006698; text-decoration:underline 
}
html         { font-family: Arial 
}