# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName rainiersymphony.org
AuthUserFile /services/webpages/r/a/rainiersymphony.org/public/_vti_pvt/service.pwd
AuthGroupFile /services/webpages/r/a/rainiersymphony.org/public/_vti_pvt/service.grp
